*{
    font-family: 'Montserrat', sans-serif;
    .contenedor-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F5F5F5;
        height: auto;
        .mobile-respon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .Logo{
            img{
                width: 230px;
            }
        }
        .link{
            font-size: 18px;
            color: black;
        }
        .link:hover{
            color: #1a6660;
        }
        .icono-ticket{
            font-size: 30px;
            color: #1a6660;
        }
    }
}